
.box-area .card{
    border:none;
    transition:0.5s;
    animation:ease-in-out;
    overflow:hidden;
}
.box-area .card:hover{
    transform: scale(1.2);
    background-image: linear-gradient(40deg, #500f7c,#062902);
    color:white;
    box-shadow: 0 5px 13px 0px #eae8e87a;
}
.header{
    color: tomato;
    font-size: 50px;
}
.header:hover{
    color:violet;
    font-size: 55px;
}